@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.bg {
  background: url("img/desertBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

#imagem{
  width: 436px;
  height: 338px;
  background-image: url("img/forca.png");
  background-attachment: unset;
  margin: auto;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}
#palavra-secreta{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-size: 2.5em;
  margin-top: 15px;
  font-family: 'Courier Prime', monospace;
}

.letra{
  width: 2em;
  text-align: center;
  border-bottom: 3px solid white;
  color: white;
  padding: 3px;
  margin-left: 7px;
  margin-bottom: 20px;
}
#teclado{
  margin-top: 40px;
  margin-bottom: 50px;
  font-family: 'Courier Prime', monospace;
}
.teclas button{
  width: 44px;
  height: 44px;
  margin: 2px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 8px dimgray;
  border-radius: 2em;
  border: 1px solid dimgray;
  font-weight: 900;
  background-color: #556b2f;
  color: #f3f2e9;
}
.teclas button:hover{
  transform:scale(1.3);
}
.btn {
  border: 0;
  color: rgb(230, 230, 230);
  font-weight: bold;
  background-color: blue;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0.5em;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 30%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
#forca {
  border: 1px solid red;
  display: block;
  margin-left: auto;
  margin-right: auto;
}